<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTER FOR TINYAPP</title>
</head>
<body>
  <h2>REGISTER FOR MY WEBSITE</h2>
    <form method="POST" action="/register">
    <input type="email" id="username" name="email" /><br />
    <input type="password" id="password" name="password" /><br />
    <button type="submit" class="btn btn-primary">REGISTER</button>
    </form>
</body>
</html>